<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.medical.mapper.supplyMapper">
	<select id = "supplyAll" resultType = "com.medical.dto.SupplyDto">
	<!-- 구호 물품 리스트를 불러옴 -->
		SELECT * FROM medical.supply;
	</select>
	
	<select id = "addressCheck" resultType = "com.medical.dto.MemberDto">
	<!-- 구호 물품을 보내기 위한 주소를 불러옴 -->
		select `name`,`addr`,`detailAddress`,`extraAddress`,`tel`
		from p_member where id=#{id};
	</select>	
</mapper>